[Unit]
Description=Reminder Service
After=graphical.target multi-user.target dbus.service
Requires=dbus.service
StartLimitBurst=5
StartLimitIntervalSec=60

[Service]
ExecStart=/usr/bin/python3 /custom_notifier/main.py
WorkingDirectory=/
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=10
User=user1
Environment="PYTHONPATH=/home/user1/.local/lib/python3.11/site-packages"

[Install]
WantedBy=multi-user.target
